    <div class="row myBody">
        <div class="col-md-6 tAreas">
            <fieldset>
                <legend style="width:30px;">Text</legend>
                <textarea class="myForm" id="myText" name="myText"></textarea>
            </fieldset>
        </div>

        <div class="col-md-6 tAreas">
            <fieldset>
                <legend style="width:45px;">Binary</legend>
                <textarea class="myForm" id="myBinary" name="myBinary"></textarea>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="btnPos">

                <input type="button" value="To Binary" onclick="toBinary();" />
                <input type="button" value="To Text" onclick="toText();" />
            </div>
        </div>
    </div>
    <script src="~/Scripts/Apps/Binary.js">
     
    </script>
