<!DOCTYPE html>

<head>
    <title>Profile Page</title>
    <meta charset="utf-8" />
    
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/Content/profile.css" />
</head>

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-2"></div>
        <div class="col-sm-8 col-md-8">
            <div class="folder">
                <img class="folderImage"  src="~/Img/Folder3.jpg" />
                <img class="myPhoto" src="~/Img/MyPhoto2.png" />
                <a class="tab1 tabs bdr" href="skills.cshtml"></a>

                @*<a class="tab2 tabs bdr">
                </a>*@

                @*<a class="tab3 tabs dr">
                </a>*@
            </div>
        </div>
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>

