@model MahekarusProfile.Models.Delegates.Program

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome To Delegates.</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="border">
                    <h2>Welcome To Delegates</h2>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-12">

            </div>
        </div>
    </div>
</body>
</html>
